:root {
  background: #e3edfb;

  --color-icon: #0b3a67;

  --image-width: 8rem;
  --card-padding: 1rem;

  --font-heading: 1.75rem;

  /* Når du synes, du er færdig, så ændr værdien herunder til '1' for at se dit resultat i browseren */
  --hide-overlay: 1;
}

/* Begynd her... */
img {
  width: var(--image-width);
  height: 100%;
  border-radius: 50%;
}

h1 {
  font-size: var(--font-heading);
  font-weight: bold;
}

h2 {
  color: rgb(37, 131, 121);
}

svg {
  fill: var(--color-icon);
}

#content {
  padding: var(--card-padding);
}

.card {
  padding: var(--card-padding);
  display: flex;
}

#icons {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  max-width: 200px;
}
